div{
    padding: 5%;
}
.center_content{
    margin: 5% 30% 0 30%;
    width: auto;
    background: rgba(209, 209, 209, 0.555);
    padding: 1em;
    text-align: center;
    border: 2px outset rgb(61, 55, 42)  ;
    display: block;
}
body {
    margin: 0;
}