fieldset{
    width: 20vw;
    min-width: 200px;
    margin: 5vh auto;
    background: rgba(209, 209, 209, 0.555);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}
input
{
    width: 19vw;
    /* width: 100%; */
    display: flex;
    margin: 1vh auto;
    
}
legend{
    text-align: center;
}
